.main {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(3em, max-content);
  gap: 0.3em;
  transition: 0.2s linear all;
}

.main__card {
  border: 1px solid gray;
  width: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
}

.card__img {
  height: 7em;
  width: 100%;
  background-image: url("");
  background-size: cover;
  background-position: center;
}

.card__info {
  padding: 0.2em;
  padding-top: 0.7em;
}

.card__info p:not(:first-child) {
  margin: 0.7em 0;
}

@media screen and (max-width: 630px) {
  .main {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .main {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    font-size: 2.5rem;
  }
}
