@import "reset.css";
@import "header.css";
@import "main.css";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

*,
.contents {
  font-family: "Gamja Flower", cursive;
  box-sizing: border-box;
}

button {
  background-color: #2c8dff;
  border: none;
  color: white;
  padding: 0.3em 0.5em;
  font-size: 0.7em;
  border-radius: 0.2rem;
}

button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.7;
}

body {
  line-height: 1;
  margin: 10px;
}
